@using TheRealDeal.Models.Account
@model LogOnModel
@{
    Layout = "~/Views/Shared/_accountLayout.cshtml";
}
<!DOCTYPE html>
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet">
<span class="span4">
    <div class="hero-unit">
        <div id="BannerText">
            <h2>
                Welcome!</h2>
        </div>
        @using (Html.BeginForm())
        {
            <div>
                <div>
                    @Html.Label("Username", "User Name:")
                    @Html.TextBoxFor(x => x.UserName, new { @class = "input-large" })
                </div>
                <div>
                    @Html.Label("Password", "Password:")
                    @Html.PasswordFor(x => x.Password)
                </div>
            </div>
            <div id="ButtonsContainer">
                <button type="submit" class="btn btn-primary">
                    Login</button>
                Or
                <button type="button" class="btn" onclick="location.href='/Account/Register/'">
                    New User?</button>
            </div>
        }
    </div>
</span>