@using TheRealDeal.Models.Profile
@model CreateProfileModel
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_accountLayout.cshtml";
}
<span class="span4">
    <div class="hero-unit">
        <div id="BannerText">
            <h2>
                Create new profile</h2>
        </div>
        @Html.ValidationSummary(true, "Oops! Problem creating profile!")
        @using (Html.BeginForm())
        {

            <div class="CreateProfile">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name)
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="CreateProfile">
                @Html.LabelFor(x => x.Location)
                @Html.DropDownList("Location", Model.AvailableLocations, "-- Select One --")
            </div>
            <div class="CreateProfile">
                @Html.LabelFor(x => x.Sports)
                @Html.DropDownList("Sports", Model.AvailableSports, "-- Select One --")
                @Html.ValidationMessageFor(x => x.Sports)
            </div>
            <div class="CreateProfile">
                @Html.LabelFor(x => Model.SkillLevel)
                @Html.DropDownList("SkillLevel", Model.AvailableSkillLevels, "-- Select A Skill Level --")
                @Html.ValidationMessageFor(x => Model.SkillLevel)
            </div>

            <button type="submit" class="btn btn-primary">
                CreateProfile</button>
            <button type="button" class="btn"onclick="location.href = '/Profile/ChooseProfile/'">
                Cancel</button>
        }
    </div>
</span>