@using TheRealDeal.Models.Games
@model SearchForGameModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        $('#SearchNavBtn').addClass('active');
    }
</script>

<h2>Search for a game</h2>
@using (Html.BeginForm())
{
    <div>
    @Html.LabelFor(x => x.Sport)
    @Html.DropDownListFor(x => x.Sport, Model.SearchableSports)
    </div>
    <div>
    @Html.LabelFor(x => x.Location)
    @Html.DropDownListFor(x => x.Location, Model.SearchableLocations)
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
}

@Html.ValidationSummary()

@Html.Partial("GameSearchResults")
