@using TheRealDeal.Models.Setup
@model SetupOptionsModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        $('#addLocationBtn').onclick = function() {
            alert('btn pressed');
        };
    }
</script>

<div>
<h3 style="padding-top: 5px; padding-bottom: 5px;">Edit your sports:</h3>
    @if (Model.SportsForProfile.Count != 0)
     {
        @Html.Label("Your current sports are:")
     }
        
    @foreach (var sport in Model.SportsForProfile)
    {
        <div>
            <label> @sport.Name - Skill Level: @sport.SkillLevel.Level  
            @Html.ActionLink("Remove", "RemoveSport", new {sportName = sport.Name})
            </label>
        </div>
    }
    <form action="Sports" method="POST">
        <div>
            <div>
            @Html.ValidationMessageFor(x => x.AvailableSports)
            </div>
            @Html.DropDownList("ChosenSport", Model.AvailableSports, "-- Select Sport --")
            @Html.DropDownList("ChosenSkillLevel", Model.SkillLevels, "-- Skill Level --")
        </div>
        <button type="submit" class="btn btn-primary"  id="addSportBtn" style="margin-left: 30px;">
            Add this sport!</button>
            <div>
        @Html.ValidationMessageFor(x => x.ChosenSport)
        </div><div>
        @Html.ValidationMessageFor(x => x.ChosenSkillLevel)
        </div>
        </form>
    
</div>

<h3 style="padding-top: 5px; padding-bottom: 5px;">Edit your location:</h3>
<div> 
    @if (Model.CurrentLocations.Count != 0)
     {
        @Html.Label("Your current locations are:")
     }
    @foreach (var location in Model.CurrentLocations)
    {
            <label> @location.Name
            @Html.ActionLink("Remove", "RemoveLocation", new { locationName = location.Name })
            </label>
    }
</div>
<div>
    <form action="Location" method="POST">
        @Html.Label("Please type the name of the location: ")
        <div>
        @Html.ValidationMessageFor(x => x.AvailableLocations)
        </div>
        <div>
        @Html.DropDownList("LocationToAdd", Model.AvailableLocations, "-- Select One --")
        </div>
        <div>
        <button type="submit" class="btn btn-primary" id="addLocationBtn" style="margin-left: 30px;">Add this location!</button>
        </div>
        @Html.ValidationMessageFor(x => x.LocationToAdd)
    </form>
</div>




