@using RecreateMe.Sports
@using TheRealDeal
@using TheRealDeal.Models.Setup
@model AddSportModel

@*<header class="jumbotron">
<h2>Which sport would you like to add to your profile</h2></header>*@
<div>
    @if (Model.SportsForProfile.Count != 0)
     {
        @Html.Label("Your current sports are:")
     }
        
    @foreach (var sport in Model.SportsForProfile)
    {
        <div>
            @Html.Label("Sports", sport.Name + " - Skill Level: " + sport.SkillLevel.Level)
        </div>
    }
    @using (Html.BeginForm())
    {
        <div>
            <h3 style="padding-top: 5px; padding-bottom: 5px;">Edit your sports:</h3>
            @Html.DropDownList("ChosenSport", Model.AvailableSports, "-- Select Sport --")
            @Html.DropDownList("ChosenSkillLevel", Model.SkillLevels, "-- Skill Level --")
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 30px;">
            Add this sport!</button>
        @Html.ValidationMessageFor(x => x.ChosenSport)
        @Html.ValidationMessageFor(x => x.ChosenSkillLevel)
    }
</div>
